@tailwind base;
@tailwind components;
@tailwind utilities;

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

/* Basic */
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: radial-gradient(circle, #ffffff 10%, #000000 11%);
  background-size: 1em 1em;
}



::-webkit-scrollbar {
  width: 0;
}

::selection {
  background-color: #f472b6;
  color: #ffffff;
}


.active {
  border: 2px;
  color: #f472b6;
  border-bottom: #f472b6;
}